@model IEnumerable<RelacionamentoHeranca.Models.Perecivel>

@{
    ViewData["Title"] = "Perecível";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <button type="button" class="btn btn-outline-danger" onclick="window.location.href='Perecivel/Create'">
        Criar Novo
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sabor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sabor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso, "{0:0.00}")
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Edit", new { id = item.ProdutoID })'">
                    Editar
                </button>

                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Details", new { id = item.ProdutoID })'">
                    Detalhes
                </button>

                <button type="button" class="btn btn-outline-danger" onclick="window.location.href='@Url.Action("Delete", new { id = item.ProdutoID })'">
                    Deletar
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
